body
  font-size: 62.5%

ul
  text-decoration: none
  list-style: none
  li
    display: inline-block
    font-size: 1.6rem
    a
      text-decoration: none
      color: black
      &:focus,
      &:hover
        text-decoration: none
        color: black

